                @font-face {
                   font-family: 'nssans';
                   src: url('nssans__-webfont.ttf');
               }
               /* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
               
               html,
               body,
               div,
               span,
               applet,
               object,
               iframe,
               h1,
               h2,
               h3,
               h4,
               h5,
               h6,
               p,
               blockquote,
               pre,
               a,
               abbr,
               acronym,
               address,
               big,
               cite,
               code,
               del,
               dfn,
               em,
               img,
               ins,
               kbd,
               q,
               s,
               samp,
               small,
               strike,
               strong,
               sub,
               sup,
               tt,
               var,
               b,
               u,
               i,
               center,
               dl,
               dt,
               dd,
               ol,
               ul,
               li,
               fieldset,
               form,
               label,
               legend,
               table,
               caption,
               tbody,
               tfoot,
               thead,
               tr,
               th,
               td,
               article,
               aside,
               canvas,
               details,
               embed,
               figure,
               figcaption,
               footer,
               header,
               hgroup,
               menu,
               nav,
               output,
               ruby,
               section,
               summary,
               time,
               mark,
               audio,
               video {
                   margin: 0;
                   padding: 0;
                   border: 0;
                   font-size: 100%;
                   font: inherit;
                   vertical-align: baseline;
               }
               /*eigen code*/
               
               body {
                   background-color: #E6E6E9;
                   font-family: nssans;
               }
               
               header {
                   background-color: white;
                   padding-top: 0.5em;
                   padding-bottom: 1em;
               }
               
               .logo {
                float: left;
                 width: 6em;
                margin-left: 1em;
                   margin-top: -3em;
                   max-width: 100%;
                }
                .bookmarked {
                    float: right;
                    width: 3em;
                    margin-right: 1em;
                    margin-top: -3em;
                    max-width: 100%;
                }

                .profile{
                    float: right;
                    width: 3em;
                    margin-right: 5em;
                    margin-top: -3.2em;
                    max-width: 100%;
                }

                h1 {
                    color: #003082;
                    font-family: nssans;
                    font-size: 2.4em;
                    margin-right: 0em;
                    text-align: center;
                }
                h2{
                    background-color:rgba(0,51,153,0.7);
                    color: white;
                    font-size: 1.7em;
                    position: absolute;
                    margin-left: 0.5em;
                    margin-top: 0.3em;
                    padding: 1em 6em 2.5em 1em

                }
                section{
                    padding-top: 1em;
                    padding-left: 3em;
                }
                section a{
                    color: white;
                    font-size: 1.4em;
                    position: absolute;
                    top: 7.5em;
                    left: 4em;
                    text-decoration: none;
                }
               
               main {
                   background-color: #FFC917;
                   margin: 16em 4em; 3em 4em;
                   padding-bottom: 1em;
                   padding-left: 1em;
               }
               
               fieldset {
                   border: 0;
               }
               
               legend {
                   color: #003082;
                   font-size: 1.3em;
                   padding-top: 1.5em;
                   padding-bottom: 1.5em;
               }
               
               h3 {
                   color: #003082;
                   font-family: nssans;
                   font-size: 2.5em;
                   padding-top: 0.75em;
               }
               
               main p:first-child {
                   font-family: nssans;
                   padding-left: 1.4em;
               }
               
               input[type=text] {
                   border: 0.5px solid grey;
                   display: flex;
                   margin: 15px 0;
                   padding: 16px 20px;
                   width: 60%;
               }
               
               input[type=tel] {
                   border: 0.5px solid grey;
                   display: flex;
                   margin: 15px 0;
                   padding: 16px 20px;
                   width: 60%;
               }
               
               input[type=email] {
                   border: 0.5px solid grey;
                   display: flex;
                   margin: 15px 0;
                   padding: 16px 20px;
                   width: 60%;
               }

                div{
                  margin-bottom: -4em;
               }

               button {
                    -moz-transition: all 0.15s ease-in-out;
                   -o-transition: all 0.15s ease-in-out;
                   -webkit-transition: all 0.15s ease-in-out;
                   transition: all 0.15s ease-in-out;
                   background-color: #0079d3;
                   border-color: #0079d3;
                   color: white;
                   width: 10%;
                   font-family: nssans;
                   font-size: 1em;
                   padding: 0.75em 0 0.4em 0.5em;
                   cursor: pointer;
                    }
                button:hover {
                    background-color: #0049e9;
                    padding: 0.7em;
                    font-weight: bold;
                    }
                button:hover:after{
                      bottom: -7.0em;
                      border-top-color: #003082;
                    }

                

/*Checkbox CSS van http://blufra.me */
               
               @media only screen and (min-width: 320px) and (max-width: 700px) {
                   .mainheader img {
                       float: left;
                       width: 4em;
                       margin-left: 1em;
                   }
                   
                    h1 {
                    font-size: 100%;
                    margin-right: 0%;
                    margin-top: 2%;
                }
                .bookmarked{
                    float: right;
                     width: 1.5em;
                     margin-right: 1em;
                     margin-top: -1.5em
                }
                .logo{
                    float: left;
                    width: 2.5em;
                    padding-left: 0em;
                    padding-top: 1.75em;
                }
                .profile{
                     float: right;
                     width: 1.5em;
                     margin-right: 3em;
                     margin-top: -1.4em
                }

                   h2{
                       background-color:rgba(0,51,153,0.7);
                       color: white;
                       font-size: 1.5em;
                       position: absolute;
                       margin-left: 0.3em;
                       margin-top: 0.3em;
                       padding: 1em 6em 3.5em 1.3em
    
                    }
                   section{
                    padding-top: 1em;
                    padding-left: 0em;
                       width:100;
                   }
                   section a{
                       color: white;
                       font-size: 1em;
                       position: absolute;
                       top: 10.5em;
                       left: 2.7em;
                    }           
                   main p:first-child {
                       max-width: 80%;
                   }
                   
                   main{
                       margin:12em 0.5em; 5em 0.5em;
                       background-color: #FFC917;
                   padding-bottom: 1em;
                   padding-left: 1em;
                   }
                   
                   button{
                    padding: 1em 1em 0.75em 1em;
                    width: 40%;

                   }
                   button:hover {
                    background-color: #0049e9;
                    padding: 1em 1em 0.75em 1em;
                    width: 40%;
                    font-weight: bold;
                    }
                button:hover:after{
                      bottom: -7.0em;
                      border-top-color: #003082;
                    }
                   
        .gesorteerd.gesorteerd li:nth-of-type(1) {
        order: 3;
        margin-top: rem;
    }
       .gesorteerd.gesorteerd li:nth-of-type(4) {
        margin-top: 1.5rem;
    }
       .gesorteerd.gesorteerd li:nth-of-type(2) {
        margin-top: 5rem;
    }
    
    
}
   
                   
               
