    @font-face {
    font-family: 'nssans';
    src: url('nssans__-webfont.ttf');
}


/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/*eigen code*/

header {
    background-color: white;
    padding-top: 0.75em;
}

body {
    background-color: #E6E6E9;
    
}

main {
    margin: auto;
    display: inline-block;
    width:75%;
    
}

.logo {
    float: left;
    width: 6em;
    margin-left: 1em;
    margin-top: -3em;
    max-width: 100%;
}
.bookmarked {
    float: right;
    width: 3em;
    margin-right: 1em;
    margin-top: -3em;
    max-width: 100%;
}

.profile{
    float: right;
    width: 3em;
    margin-right: 5em;
    margin-top: -3.2em;
    max-width: 100%;
}

h1 {
    color: #003082;
    font-family: nssans;
    font-size: 2.4em;
    margin-right: 0em;
    text-align: center;
}
ul{
    list-style-type: none;
}
#sort li {
    border-bottom: 2px solid ;
    border-bottom-color: grey;
    font-family: nssans;
    font-size: 1.2em;
    list-style: none;
    padding-bottom: 0.3em;
    margin-top: 0.8em;
    margin-left: 2%;
    text-align: left;
    display: inline-block;
    width: 31%;
}
#sort  {
    text-align: center;
    width: 100%;
    background-image: url(sorteerbanner.jpg);
    background-position: 20% 25%; 
    background-size: 90em; 200%;
    list-style: none;
    height: 70px;
    margin-bottom: auto;
    margin-top: 0.3em;
}
a{
    color: grey;
    text-decoration: none;
}

a:focus { 
    color: white;
}

/* DAY & NIGHT */

body {
  background-color: white;
  color: #061838;
  transition: all 0.5s;
}
.night {
  background: #061838;
}

/* TOGGLE */

/*Day & Night Toggle m.b.v. Diem ca*/

/* The switch - the box around the slider */
.light { 
   font-family: nssans;
   font-size: 0.8em;
   margin-top: -2em;
   margin-left: 10em;
   float: left;
   list-style-type: none;
   padding: 0;
   border: none;
   background: none;

}

.switch {
  position: relative;
  display: inline-block;
  width: 4em;
  height: 1.65em;
}
.light .lightdark{
    display:inline-block;
    transform:translatey(-0.4em);
    
}
/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 1em;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.2em;
    width: 1.2em;
    border-radius: 100px;
    left: 0.4em;
    bottom: 0.25em;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
  background-color: #003082;
}

input:focus + .slider {
  box-shadow: 0 0 0.1em #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#filter {
    background-color: #FFC917;
    width: 20%;
    height: 29.6em;
    display: inline-block;
    vertical-align: top;
}

legend {
    color: #003082;
    font-family: nssans;
    font-size: 2em;
    padding-top: 1em;
    text-align: center;
}

select  {
    text-align: left; 
    background-color: white;
    color: #003082;
    width: 89%;
    font-family: nssans;
    font-size: 1em;
    margin: 2.5em 1em 0em 5.5%;
    padding: .75em 0 0.4em 0.5em;
}
#filter div-content {
    display: none;
    font-family: nssans;
    position: absolute;
    background-color: #f9f9f9;
    line-height: 2em;
    min-width: 17.8%;
    margin-left: 1em;
    margin-top: 0em;
    text-align: center;
    text-decoration: none;
    
}
#filter div-content a{
    display: block;
   
}
#filter div:hover #filter div-content {
    display: block;
}
#filter div-content a:hover {
    background-color: #0079d3;
color: white;
}

schrijfstijl img {
    display: inline;
}
select:nth-child(2)  {
    text-align: left; 
    background-color: white;
    color: #003082;
    width: 89%;
    font-family: nssans;
    font-size: 1em;
    margin: 2.5em 1em 0em 5.5%;
    padding: 0.75em 0 0.4em 0.5em;
}
.nddropdown-content {
    display: none;
    font-family: nssans;
    position: absolute;
    background-color: #f9f9f9;
    line-height: 2em;
    min-width: 17.8%;
    margin-left: 1em;
    margin-top: 0em;
    text-align: center;
    text-decoration: none;
    
}
.nddropdown-content a{
    display: block;
   
}
.nddropdown:hover .nddropdown-content {
    display: block;
}
.nddropdown-content a:hover {
    background-color: #0079d3;
    color: white;
}
/*Dropdown menu SCHRIJVER*/

select:nth-child(3) {
   text-align: left; 
    background-color: white;
    color: #003082;
    width: 89%;
    font-family: nssans;
    font-size: 1em;
    margin: 2.5em 1em 0em 5.5%;
    padding: .75em 0 0.4em 0.5em;
}
.rddropdown-content {
    display: none;
    font-family: nssans;
    position: absolute;
    background-color: #f9f9f9;
    line-height: 2em;
    min-width: 17.8%;
    margin-left: 1em;
    margin-top: 0em;
    text-align: center;
    text-decoration: none;
    
}
.rddropdown-content a{
    display: block;
   
}
.rddropdown:hover .rddropdown-content {
    display: block;
}
.rddropdown-content a:hover {
    background-color: #0079d3;
    color: white;
}
/*^Dropdown menu SCHRIJVER^*/

.rddropdown-content {
    display: none;
    font-family: nssans;
    position: absolute;
    background-color: #f9f9f9;
    line-height: 2em;
    min-width: 17.8%;
    margin-left: 1em;
    margin-top: 0em;
    text-align: center;
    text-decoration: none;
    
}
.rddropdown-content a{
    display: block;
   
}
.rddropdown:hover .rddropdown-content {
    display: block;
}
.rddropdown-content a:hover {
    background-color: #0079d3;
    color: white;
}
/*^Dropdown menu SCHRIJVER^*/

button:nth-child(1) {
    -moz-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    background-color: #0079d3;
    border-color: #0079d3;
    color: white;
    width: 89%;
    font-family: nssans;
    font-size: 1em;
    margin: 2.5em 1em 0em 5.5%;
    padding: 0.75em 0 0.4em 0.5em;
    cursor: pointer;
}
button:hover:nth-child(1) {
  background-color: #0049e9;
  padding: 1.1em;
  font-weight: bold;
}
button:hover:after:nth-child(1) {
  
  bottom: -7.0em;
  border-top-color: #003082;
}

button-message:nth-child(1) {
  color: #fff;
}

input {
    background-color: white;
    box-shadow: 0px 1px 0px 1px grey;
    color: #003082;
    font-family: nssans;
   width: 89%;
    font-family: nssans;
    font-size: 1em;
    margin: 2.5em 1em 0em 5.5%;
    padding: .75em 0 0.4em 0.5em;
}

.featured {
    background-color:rgba(0,51,153,0.8);
    color: white;
    font-family: nssans;
    padding: 0.75em;
    position: absolute;
    top: 10em;
    left: 20%;
    
}

.amount {
    font-family: nssans;
    font-size: 2em;
    color: #003082;
    float: right;
    margin-left: 22em;
    position: absolute;
    top: 5em;
    right: 1%;
}

.flexbox{
  margin-left: 0.8em;
  margin-top: 2em;    
  list-style: none;
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
}

    .gesorteerd.gesorteerd li:nth-of-type(1) {
        order: 3;
        margin-top: 2rem;
        margin-bottom: 10rem;
    }
 .gesorteerd.gesorteerd li:nth-of-type(4) {
        margin-top: 4.5rem;
        margin-bottom: 0rem;
    }

    main li:first-child {
    background-image: url(verhaal1bg.jpg);
    background-size: 22em;
    box-shadow: 0px 2px 0px 0px grey;
    margin-top: 4.5em;
    max-width: 17em;
    width: 23%;
    padding: 0em 2.2em 2.1em 2.6em;
}

main li:nth-child(2) {
    background-image: url(verhaal2bg.jpg);
    background-size: 60em;
    box-shadow: 0px 2px 0px 0px grey;
    margin-top: 4.4em;
    max-width: 17em;
    width: 23%;
    padding: 0em 2.2em 2.2em 2.6em;
    
} 

main li:nth-child(3) {
    background-image: url(verhaal3bg.jpg);
    background-size: 21.2em;
    box-shadow: 0px 2px 0px 0px grey;
    margin-top: 4.4em;
    max-width: 17em;
    width: 23%;
    padding: 0em 2.2em 0.2em 2.6em;
}

main li:nth-child(4) {
    background-image: url(verhaal4bg.jpg);
    background-size: 40em;
    box-shadow: 0px 2px 0px 0px grey;
    margin-top: 2em;
    max-width: 17em;
    margin-bottom: 10em;
    width: 23%;
    padding: 0em 2.2em 2.2em 2.6em;
}

main li:nth-child(5){
    background-image: url(verhaal5bg.jpg);
    background-size: 40em;
    box-shadow: 0px 2px 0px 0px grey;
    margin-top: 2em;
    max-width: 17em;
    margin-bottom: 10em;
    width: 23%;
    padding: 0em 2.2em 2.2em 2.6em;
    
}

main li:nth-child(6){
    background-image: url(verhaal6bg.jpg);
    background-size: 40em;
    box-shadow: 0px 2px 0px 0px grey;
    margin-top: 2em;
    max-width: 17em;
    margin-bottom: 10em;
    width: 23%;
    padding: 0em 2.2em 2.2em 2.6em;
}

.heart {
  width: 100px;
  height: 100px;
  transform: translate(-38%, -10%);
  background: url(../images/heart.png) no-repeat;
  background-position: 0 0;
  cursor: pointer;
  border: none;
  padding: 0;
  margin: 0em 0em -3em;
}
.heart:hover {
  animation: fave-heart 1s steps(28);
  background-position: -2800px 0;
  transition: background 1s steps(28);
}
@keyframes fave-heart {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -2800px 0;
  }
}

#likeit {
    font-size: 1em;
    color: white;
    border-style: solid;
    border-width: 0.1em;
    text-shadow: 0.5em;
    padding: 0.5em;
    background-color: #0079d3;
    border-color: #0079d3;
    box-shadow: 0em 0.2em 0.1em 0em #005ca0;
}

/*Popup code van www.eichefam.net door Paul*/

.popup p{
    text-align: center;
    font-size: 1em;
    color: white;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.5);
  transition: opacity 200ms;
  visibility: hidden;
  opacity: 0;
}

.popup {
  margin: 75px auto;
  padding: 20px;
  background: #fff;
  border: 1px solid #666;
  width: 300px;
  box-shadow: 0 0 50px rgba(0,0,0,0.5);
  position: relative;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.close {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 20px;
  right: 20px;
  opacity: 0.8;
  transition: all 200ms;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #666;
}

#popup1 .content footer {
    color: black;
    
}

#popup1 p:first-of-type {
    color: black;
}

#sort {
    display: inline-block;
    /*float: right;*/
}

h2 {
    color: white;
    font-family: nssans;
    font-size: 1.5em;
    margin-top: 1em;
}

footer {
    color: white;
    font-family: nssans;
    font-size: 0.8em;
    padding-top: 1em;
}

main p  {
    color: white;
    font-family: nssans;
    font-size: 0.8em;
    line-height: 1.8em;
    margin: 1em 0em 0.5em;
    text-align: left;
}

@media (max-width: 1220px){
    #sort li{
      width: 30%;
    }
    h1 {
    
    font-size: 2em;
    margin-right: -2em;
    text-align: center;
}
    #filter{
        height: 30em;
    }
    .dropdown-content {
    margin-left: 1%;
}
    .nddropdown-content {
        margin-left: 1%;
    }
    .rddropdown-content {
        margin-left: 1%;
    }
    main li:first-child{
        margin-top: 7em;
        width:30%;
    }
    main li:nth-child(2){
        margin-top: 7em;
        width: 30%
    }
    main li:nth-child(3){
        width: 30%;
        margin-top: 2em;
        margin-bottom: 10em;
    }
    main li:nth-child(4){
        width: 30%;
        position: flex;
    }
    main li:nth-child(5){
        width: 30%;
        margin-top: -8em;
        position: flex;
    }
    main li:nth-child(6){
         width: 30%;
         margin-top: -8em;
         position: flex;
    }
    .amount {
    font-size: 1.75em;
    margin-left: 15em;
    top: 5.8em;
}
       .gesorteerd.gesorteerd li:nth-of-type(1) {
        order: 3;
        margin-top: -8rem;
    }
       .gesorteerd.gesorteerd li:nth-of-type(2) {
        margin-top: 7rem;
        margin-bottom: 10em;
    }
     .gesorteerd.gesorteerd li:nth-of-type(3) {
        margin-top: 7rem;
    }
       .gesorteerd.gesorteerd li:nth-of-type(4) {
        margin-top: -8rem;
           margin-bottom: 10em;
    }
      .gesorteerd.gesorteerd li:nth-of-type(5) {
          margin-top: -8rem;
    }
      .gesorteerd.gesorteerd li:nth-of-type(6) {
        margin-top: -8rem;
    }

    .flexbox{
        display: flex;
        margin: auto;
    }
    
    
@media only screen and (min-width: 200px) and (max-width: 700px) {
    main{
        width: 100%;
    }
    
    h1 {
        font-size: 100%;
        margin-right: 0%;
        margin-top: 2%;
    }
    .bookmarked{
        float: right;
         width: 1.5em;
         margin-right: 1em;
         margin-top: -1.5em
    }
    .logo{
        float: left;
        width: 2.5em;
        padding-left: 0em;
        padding-top: 1.75em;
    }
    .profile{
         float: right;
         width: 1.5em;
         margin-right: 3em;
         margin-top: -1.4em
    }

    #filter {
        font-size: 91%;
        height: 25em;
        width: 100%;
    }
     .dropdown-content {
    margin-left: 5.5%;
    min-width: 88.8%;
}
    .nddropdown-content {
        margin-left: 5.5%;
        min-width: 88.8%;
    }
    .rddropdown-content {
        margin-left: 5.5%;
        min-width: 88.8%;
    }
    select:nth-child(2){
    text-align: left; 
    background-color: white;
    color: #003082;
    width: 89%;
    font-family: nssans;
    font-size: 1em;
    margin: 1.2em 1em 0em 5.5%;
    padding: .75em 0 0.4em 0.5em;
        
    }
    select:nth-child(3) {
        text-align: left; 
    background-color: white;
    color: #003082;
    width: 89%;
    font-family: nssans;
    font-size: 1em;
    margin: 1.2em 1em 0em 5.5%;
    padding: .75em 0 0.4em 0.5em;
    }
    
    button:nth-child(1) { 
    width: 88%;
    font-family: nssans;
    font-size: 1em;
    margin: 1.2em 1em 0em 5.5%;
    padding: .75em 0 0.4em 0.5em;
    }
    
    input {
    text-align: left; 
    background-color: white;
    color: #003082;
    width: 88%;
    font-family: nssans;
    font-size: 1em;
    margin: 1.2em 1em 0em 5.5%;
    padding: .75em 0 0.4em 0.5em;
    }
    
    #sort {
        /*nog aanpassen*/
        height: 50%;
        margin-top: 4%
    }
    #sort li {
        margin-left: 0.01em;
        font-size: 1em;
        text-align: center;
        width: 100%;
    }
.featured  {
        padding: 0.8em;
        position: absolute;
        top: 34.5em;
        left: -0.5em;
    }
    .amount {
        display: none;
    }
    .flexbox{
        display: auto;
        margin: auto;
    }
       main li:first-child {
        width: 70%;
        margin: 0 auto;
        margin-top: 5em;
        max-width: 21em;
        padding: 0.5em 2.2em 1.2em 2.6em;
    }
    main li:nth-child(2){
     width: 70%;
        margin: 0 auto;
        margin-top: 1em;
        max-width: 21em;
        padding: 0.5em 2.2em 1.2em 2.6em;
    }
     main li:nth-child(3) {
     width: 70%;
        margin: 0 auto;
        margin-top: 1em;
        max-width: 21em;
        padding: 0.5em 2.2em 1.2em 2.6em;
    }
    main li:nth-child(4) {
     width: 70%;
        margin: 0 auto;
        margin-top: 1em;
        max-width: 21em;
        padding: 0.5em 2.2em 1.2em 2.6em;
    }
    main li:nth-child(5){
     width: 70%;
        margin: 0 auto;
        margin-top: 1em;
        max-width: 21em;
        padding: 0.5em 2.2em 1.2em 2.6em;
    }
    main li:nth-child(6) {
     width: 70%;
        margin: 0 auto;
        margin-top: 1em;
        margin-bottom: 1.5em;
        max-width: 21em;
        padding: 0.5em 2.2em 1.2em 2.6em;
    }
    /* TOGGLE */

/* The switch - the box around the slider */
.light {
   font-family: nssans;
   font-size: 0.6em;
   margin-top: -2em;
   margin-left: 7em;
   list-style-type: none;
}

.switch {
  position: relative;
  display: inline-block;
  width: 4em;
  height: 1.65em;
}
.light .lightdark{
    display:none;
    transform:translatey(-0.4em);
    
    
}
/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 1em;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.2em;
    width: 1.2em;
    border-radius: 100px;
    left: 0em;
    bottom: 0.25em;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
  background-color: #003082;
}

input:focus + .slider {
  box-shadow: 0 0 0.1em #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*hart animatie van twitter*/
    
    .heart {
    width: 100px;
    height: 100px;
    transform: translate(-38%, -10%);
    background: url(../images/heart.png) no-repeat;
    background-position: 0 0;
    cursor: pointer;
    border: none;
    padding: 0;
    margin: 0;
}
.heart:hover {
	animation: fave-heart 1s steps(28);
  background-position: -2800px 0;
  transition: background 1s steps(28);
}
@keyframes fave-heart {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -2800px 0;
  }
}
    .gesorteerd.gesorteerd li:nth-of-type(1) {
        order: 3;
        margin-top: 1rem;
    }
    .gesorteerd.gesorteerd li:nth-of-type(2) {
        margin-top: 5rem;
    }
    .gesorteerd.gesorteerd li:nth-of-type(3) {
        margin-top: -9em;
    }
    .gesorteerd.gesorteerd li:nth-of-type(4) {
        margin-top: 1em;
    }
    
    .gesorteerd.gesorteerd li:nth-of-type(5) {
        margin-top: -9em;
    }
    .gesorteerd.gesorteerd li:nth-of-type(6) {
        margin-top: 1em;
    }
      
}
   
